---
layout: default
---

<div> <div class="row g-5 mb-3">
    <div>
      <h3 class="fw-bold">Conclusion</h3>
      <br>Found that inexpensive 3D scanners can produce usable scans based on the characteristics of the object
      being scanned.
      <br>High-power, expensive 3D scanners tend to consistently produce better results.
      <br> University of California 3D Data Common Knowledge Group learned of the 3D scanning capabilities
      across UC Libraries. This can be helpful for collaboration and research within the UC Library system.
      <br> We hope the 3D Scanning Data Atlas enables campus constituents to make informed decisions about which
      3D scanning option best fits their education and research needs and provides librarians and library staff
      with data to make informed purchases.
      <br>
      We want to emphasize that this Atlas was designed so that other institutions can contribute their scanning
      methods to the Atlas. To do so, they should contact dougdaniels@library.ucla.edu.
      <br>

      We noticed that a lot of scans were totally unusable, while also not being a true representation of what
      we knew the scanners to be capable of. Thus:
      We are going to rescan some.

    </div>

    <div class="row g-5 mb-5">
      <div>
        <h3 class="fw-bold">Acknowledgements</h3>

        <b>Add previous and current members of UC 3D CKG </b><br>

        <br>UC Berkeley: Annalise Phillips (past CKG member)
        <br>UCLA Acknowledges: Francesca Albrezzi, Bianca Badajos, Doug Daniels, Chris Gilman, and the Data
        Science Center.
        <br>UCSC Acknowledges: Kristina Golubiewski-Davis, Joshua Tuthill, Dino Raphael, Nami Lee
        <br>UCSF Acknowledges: Dylan Romero and Jenny Tai
        <br>UCR Acknowledges:Brendon Wheeler, Alvaro Alvarez
        <br>3D Data Atlas is hosted through pointcloud.ucla.edu
        <br>Funding for the 3D Scanning Data Atlas project was provided through a Librarians Association of the
        <br> University of California (LAUC) Mini Grant.


      </div>