
.titlerow {
  display: flex;
  flex-direction: row;
  justify-content: left;
  background-color: rgb(0 85 129);
  align-items: center;
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100px;
  z-index: 100; 
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  position: fixed;
  overflow: hidden;
  background-color: rgb(8, 106, 155);
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  z-index: 100; 
}

.title {
  font-size: 33px;
  color: white;
  font-weight: 350;
  margin-left: 0px;
}



.icon {
  float: left;
  display: flex;
  padding-right: 0px;
  padding-left: 0px;

  }

  .icon img {
    height: 60px; /* Adjust the height as needed */
  }


.navbar {
  float: right;
}

.navbar a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

  
}

.navbar a:hover
 {
  color: white;
  background-color: rgb(10, 103, 150);
  transition: 0.5s;
}


.open {
  color: white;
  background-color: rgb(0 85 129);
}


.open a:hover{
  color: white;
  background-color: rgb(0 85 129);
}
