body {
    background-color: rgb(243, 243, 243);
}

.scanpage {
    margin-top: 150px;
    margin-left: 2%;
    margin-right: 2%;
}


.window {
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.scannav {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}

#viewer {
    padding: 5px;
    display: flex;
    width: 100%;
    flex-direction: row;
}


#potree {
    width: 100%;
}

#frame {
    height: 600px;
    width: 100%;
    border: none;
    border-radius: 10px;
}


#caption {
    display: flex;
    font-size: smaller;
}

#scaninfo {
    border-radius: 2px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    max-width: 20%;

}

#objimg {
    width: 100%;
    border-radius: 2px;

    /* margin: auto; */

}


#infotext {
    /* width: 100%; */
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    /* justify-content: center; */
    padding: 10px;
}


#info {
    align-items: center;
    padding: 30px;
}


#logo {
    width: 20px;
}

#navtitle {
    text-align: left;
    margin-top: 20px;
    max-width: 50px;
    color: rgb(46, 46, 46);
    font-weight: 700;
    text-align: center;
    padding: 5px;
}



.scanbtn {
    padding: 5px;
    font-size: small;
    color: white;
    margin-right: 3px;
    flex: 1 1 calc(25% - 20px);
    max-width: calc(25% - 20px);
    flex: 1 1 100px;
    min-width: 100px;
    margin-bottom: 10px;
}

.clicked {
    background-color: rgb(10, 121, 176);
    color: rgb(255, 255, 255);
}


button {
    width: 100%;
    /* Make buttons take full width of their container */
    background-color: rgb(255, 255, 255);
    font-family: "Work Sans" !important;
    border: none;
    color: rgb(46, 46, 46);
    border-radius: 4px;
    cursor: pointer;
    height: 50px;
    min-width: 120px;
    max-width: 150px;

}

button:hover {
    background-color: rgb(10, 121, 176);
    color: rgb(255, 255, 255);
    transition: .3s;
}